.job-card {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 1rem;
  border: 1px solid #ddd;
  transition: transform 0.2s, border 0.3s ease;
  width: auto;
  margin: 0.5rem 0;
  border-radius: 15px;
}

.job-card:hover {
  transform: translateY(-2px);
}

.company-logo {
  flex-shrink: 0;
  overflow: hidden;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 100px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.company-card-logo{
  border-radius: 5px;
  width: 50px;
  height: 50px;
}

.immage-title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.location-salary-container {
  width: 250px;
}

.job-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.job-title {
  font-size: 1.1rem;
  font-weight: bold;
  color: #333;
  padding: 0;
  margin: 0;
  text-align: left;
}

.company {
  font-weight: 500;
  color: #888;
  display: block;
  text-align: left;
  padding-top: 5px;
  min-width: 150px;
}

.title-company-container {
  width: 300px;
}

.location {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding-bottom: 5px;
}

.date {
  font-size: 0.85rem;
  color: #888;
}

.salary {
  color: #888;
}

.job-card.highlight {
  border: 2px solid #ff5722;
}

@media (max-width: 768px) {
 .job-card{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
 }
 .small_device_title{
  display: block !important;

 }
 .title-company-container{
  display: none;
 }
 .small_device-row{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
 }
 .company-logo{
  margin-right: 10px;
 }
 .immage-title-container{
  font-size: 10px;
  display: flex;
 }
 .date{
  font-size: 10px;
  margin-left: 10px;
 }
 .location-salary-container{
  width: auto;
  display: flex;
 }
 .salary{
  margin-left: 10px;
 }
 
 .job-title{
  font-size: 15px;
 }
}
.small_device_title{
  display: none;
}
.company{
  color: #ff5722;
  font-weight: bold;
 }

 