.image-logo{
    height: 150px;
    width: 300px;
    aspect-ratio: auto 300 / 225;
    margin-top: 10px;
    margin-bottom: 20px;
}
@media (max-width:480px){
    .image-logo{
        height: 100px;
        width: 200px;
        aspect-ratio: auto 200 / 150;
    }
}
