.image-logo {
  height: 200px;
  width: 300px;
  aspect-ratio: auto 300 / 225;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}

@media (max-width:480px) {
  .image-logo {
    height: 100px;
    width: 200px;
    aspect-ratio: auto 200 / 150;
  }
}

.job-meta-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s;
  padding-left: 1.5rem;
  border: 1px solid #ddd;
  transition: border 0.3s ease;
  width: auto;
  margin: 0.5rem 0;
  border-radius: 15px;
  width: 100%;
}

h1 {
  text-decoration: underline;
}
.meta-details{
  padding-right: 10px;
}