.job-detail{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.apply-link-container {
    text-align: center;         /* Center the apply link */
}