/* src/App.css */

body {
  margin-left: 200px;
  margin-right: 200px;
  font-family: Arial, sans-serif;
}
@media (max-width:480px){
  body{
    margin-left: 15px;
    margin-right: 5px;
  }
}

h1 {
  text-align: center;
}

